
<%= render '/common/menu' %>
<h2>HOME:
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse nec molestie nisi. Sed condimentum dui mauris, vitae varius lacus euismod at. Nam sed ante finibus urna tempor rhoncus. Cras sit amet arcu at ipsum dignissim laoreet. In pellentesque consequat neque eget sagittis. Nunc bibendum feugiat leo ac tempus. Vestibulum ut nibh nunc. Nunc ex dui, lobortis nec augue non, faucibus molestie nibh. Nam interdum in lorem et auctor. Curabitur a efficitur eros, at consectetur mi. Etiam quis justo eget nunc tempus eleifend.

Ut porttitor facilisis magna quis faucibus. Cras a purus malesuada, viverra tortor eu, pulvinar elit. Sed ut odio sem. Cras suscipit nulla id ligula gravida luctus. Donec ac tellus nibh. Etiam ultricies orci quis lorem posuere scelerisque. Mauris finibus euismod felis a rutrum. Nam vitae ante lobortis odio vulputate tristique sit amet eu ex. Phasellus risus risus, pretium sed commodo eget, interdum vitae magna.</h2>
