<header>
  <nav>
    <ul>
      <li><%= link_to 'about', about_path%></li>
      <li><%= link_to 'lizards 12', lizards_path(12)%></li>
      <li><%= link_to 'lizards 44', lizards_path(44)%></li>
      <li><%= link_to 'lizards 9672', lizards_path(9672)%></li>
    </ul>
  </nav>
</header>
